/* ResetPassword.module.css */
.container {
    max-width: 400px;
    margin: 50px auto;
  }
  
  .header {
    font-size: 1.5rem;
  }
  
  .formItem {
    margin-bottom: 20px;
  }
  
  .buttonWrapper {
    margin-top: 20px;
  }
  